### Random State Effect on Model Performance

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Book1.csv')
df

,Unnamed: 0,BD,MN,GP,EQ,TL,YJ,CP,FS,AZ,RS,TARGET CLASS
0,0,817.988525,2565.995189,358.347163,550.417491,1618.870897,2147.641254,330.727893,1494.878631,845.136088,1636.670614,0
1,1,1013.402760,577.587332,2644.141273,280.428203,1161.873391,2084.107872,853.404981,447.157619,1193.032521,861.081809,1
2,2,1300.035501,820.518697,2025.854469,525.562292,922.206261,2552.355407,818.676686,845.491492,1968.367513,1647.186291,1
3,3,1059.347542,1066.866418,612.000041,480.827789,419.467495,685.666983,852.867810,341.664784,1154.391368,1450.935357,0
4,4,1018.340526,1313.679056,950.622661,724.742174,843.065903,1370.554164,905.469453,658.118202,539.459350,1899.850792,0

In [3]:
x = df.iloc[:, :-1]
y = df.iloc[:, -1]

### Random State=0

In [4]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, shuffle=True, test_size=0.2, random_state=0)

In [5]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)

In [6]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print('RMSE: ', np.round(rmse, 2))

RMSE:  0.23

### Random State=35

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, shuffle=True, test_size=0.2, random_state=35)

In [9]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)

In [10]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print('RMSE: ', np.round(rmse, 2))

RMSE:  0.26

### Random State=42

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, shuffle=True, test_size=0.2, random_state=42)

In [12]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)

In [13]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print('RMSE: ', np.round(rmse, 2))

RMSE:  0.08

In [14]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(lr, x, y, scoring='neg_mean_squared_error', cv=5, n_jobs=1)

rsme = np.sqrt(-scores)
print('RSME values: ', np.round(rsme, 2))
print('RSME average: ', np.mean(rsme))

RSME values:  [0.26 0.13 0.23 0.24 0.13]
RSME average:  0.1954286091515667